mixin contact-main
	section.section-contact__body
		h1.header-contact Contact Us
		.contact-block
			.contact-info
				.contact-info__block
					h3.contact-header CONTACT DETAILS
					.contact-table-cell
						i.fa.fa-phone.fa-fw(aria-hidden='true')
						|  Phone: + 38 (044) 360-16-96
					.contact-table-cell
						i.fa.fa-envelope.fa-fw(aria-hidden='true')
						|  Email:
						a.contact-table-cell__link(href='mailto:cryptatv@gmail.com') cryptatv@gmail.com
					.contact-table-cell
						//a.contact-table-cell__link(href='https://www.facebook.com/crypta.tv/', target='_blank')
							i.fa.fa-facebook(aria-hidden='true')

						//a.contact-table-cell__link(href='https://www.youtube.com/c/CryptaTV', target='_blank')
							i.fa.fa-youtube-play(aria-hidden='true')
				.contact-info__block
					h3.contact-header CONTACT ADRESS
					.contact-table-cell Ukraine
					.contact-table-cell Kyiv, 03134
					.contact-table-cell Kiyanivskiy lane 7a
					//.contact-table-cell View on map


		#googleMap.section-contact__map.map-block