mixin form
	section#section-form.form
		div.container

			div#hire
				h1 Callback
				div.error-massage  Enter valid email
				form#form(action='', method='post')
					.field.name-box
						input#name(type='text' placeholder='Who Are You?'  required)
						label(for='name') Name
						//span.ss-icon check

					.field.phone-box
						input#phone(type='text' placeholder='PHONE NUMBER' required)
						label(for='email') PHONE
						//span.ss-icon check

					.field.email-box
						input#email(type='text' placeholder='name@email.com'  required)
						label(for='email') Email
						//span.ss-icon check

					input#subscribe-button.button(type='submit', value='CALL ME')

			div.footer-block.footer-block--form
				div.footer-block__inner.footer-block__inner--top-contact
					div.footer-block__inner-column
						div.footer-column__head SOCIAL
						div.footer-column__body
							a.aboutus-link(href='https://www.facebook.com/crypta.tv/' target=_blank) Facebook
							a.aboutus-link.aboutus-link--instagram(href='#')
							a.aboutus-link(href='https://www.youtube.com/c/CryptaTV' target=_blank) YouTube

					div.footer-block__inner-column
						div.footer-column__head ABOUT US
						div.footer-column__body
							a.aboutus-link(href='#') Vacancies
							a.aboutus-link.aboutus-link--advertasing(href='#') Advertising
							a.aboutus-link(href='#') Contacts

				div.footer-block__inner
					div.footer-block__inner-column
						i.fa.fa-globe.fa--footer(aria-hidden='true')
						div.footer-column__body
							a(href='#') www.crypta.tv

					div.footer-block__inner-column
						i.fa.fa-phone.fa--footer(aria-hidden='true')
						div.footer-column__body
							a(href='#') +38(044)360-16-96

					div.footer-block__inner-column
						i.fa.fa-envelope-o.fa--footer(aria-hidden='true')
						div.footer-column__body
							a(href='#') cryptatv@gmail.com




		img.footer-image(src="../img/footer/footer-bg.png", alt="")



