mixin header(date)
    header.header
        div.container.header-wrap
            div.logo
                a(href="/")
                    img(src="../img/intro/crypta-tv-logo.png", alt="logo")

            i.fa.fa-bars.fa-bars--head.menu-toggle(aria-hidden='true')


            div.header-nav
                ul.header-nav-list
                    li.header-nav-list__item
                        a(href="/video.html") BROADCAST
                    li.header-nav-list__item
                        a(href="#promotion-section")  PROMOTION CHANNELS
                    li.header-nav-list__item
                        a(href="#marketing-section")  ICO MARKETING
                    li.header-nav-list__item
                        a(href="#")  PRICE
                    li.header-nav-list__item
                        a(href="#footer") CONTACTS


            
            
        
