mixin header-main(date)
	header.header.header-main
		div.container.header-wrap
			div.logo.logo-main

				i.fa.fa-angle-left.back-header(aria-hidden='true' onclick="window.history.back()" )
				a(href="/")
					img(src="../img/intro/crypta-tv-logo.png", alt="logo")

			i.fa.fa-bars.fa-bars--head.menu-toggle(aria-hidden='true')
