mixin slider-course()
  div.slider_course
    ul.slider_course__wrap.owl-carousel
      li.item
        img(src="img/index/course/slider/10.jpg", alt="")
        div.item__overlay
          h4 Начало курса 
          div.date_start 
            span 15
            span |
            span 02
            span |
            span 2018 
          div.btn_course
            a(href="#") смотреть подробнее 
      li.item
        img(src="img/index/course/slider/20.jpg", alt="")
        div.item__overlay
          h4 Начало курса 
          div.date_start 
            span 15
            span |
            span 02
            span |
            span 2018 
          div.btn_course
            a(href="#") смотреть подробнее 
      li.item
        img(src="img/index/course/slider/30.jpg", alt="")
        div.item__overlay
          h4 Начало курса 
          div.date_start 
            span 15
            span |
            span 02
            span |
            span 2018 
          div.btn_course
            a(href="#") смотреть подробнее 
