mixin index-header()
  header.index-header
    nav.index-nav.container
      div.line
      input(type="search" class="search" placeholder="Search...")
      ul
        li
          a(href="#") бродкаст
            div.line
        li
          a(href="#") курсы
            div.line
        li
          a(href="#") новости
            div.line
        li  
          a(href="#") события
            div.line
        li
          a(href="#")
            img(src="img/index/header/index-logo.png", alt="logo").index-logo
        li
          a(href="#") партнеры
            div.line
        li  
          a(href="#") контакты
            div.line
        li
          a(href="#").index-search
            div.index-search__icon

  
