mixin index-news()
	section.index-news
		.index-news__line_gradient
		.container.container--index-news.clearfix
			.index-block-title
				p.index-block-title__text NEWS


			.index-block-main.index-block-main--news
				h2.index-block-sub-title NEWS
				div.news-carousel.block-carousel
					.block-carousel_item.news-carousel__item
						h3.news-carousel__item__title
							span //
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						div.news-carousel__item__sub-title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
						div.news-carousel__item__body.box
							div
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

						div.news-carousel__item__footer
							span.item__footer__date 21.11.1224
							span.item__footer__watch
								i.fa.fa-eye(aria-hidden="true")
								span 21.11.1224

					.block-carousel_item.news-carousel__item
						h3.news-carousel__item__title
							span //
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						div.news-carousel__item__sub-title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
						div.news-carousel__item__body.box
							div
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

						div.news-carousel__item__footer
							span.item__footer__date 21.11.1224
							span.item__footer__watch
								i.fa.fa-eye(aria-hidden="true")
								span 21.11.1224

					.block-carousel_item.news-carousel__item
						h3.news-carousel__item__title
							span //
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						div.news-carousel__item__sub-title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
						div.news-carousel__item__body.box
							div
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

						div.news-carousel__item__footer
							span.item__footer__date 21.11.1224
							span.item__footer__watch
								i.fa.fa-eye(aria-hidden="true")
								span 21.11.1224

					.block-carousel_item.news-carousel__item
						h3.news-carousel__item__title
							span //
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit,
						div.news-carousel__item__sub-title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
						div.news-carousel__item__body.box
							div
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

						div.news-carousel__item__footer
							span.item__footer__date 21.11.1224
							span.item__footer__watch
								i.fa.fa-eye(aria-hidden="true")
								span 21.11.1224

				a.btn.btn--news(href='#') more news