mixin index-event()
	section.index-event
		h1.index-event__title EVENTS
		.container.container--index-event.clearfix
			.index-block-title
				p.index-block-title__text EVENTS

			.index-block-main.index-block-main--event
			div.index-event-block
				div.event-carousel.block-carousel
					.block-carousel__item
						div.block-carousel_item-image-block
							img.block-carousel_item-image(src='img/index/event-1.png')
						div.block-carousel_item-content-block
							div.block-carousel_item__date
								div.date-day 19
								div.date-month 03
							div
								div.block-carousel_item__title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
								div.block-carousel_item__body.box
									div
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.




					.block-carousel__item
						div.block-carousel_item-image-block
							img.block-carousel_item-image(src='img/index/event-1.png')
						div.block-carousel_item-content-block
							div.block-carousel_item__date
								div.date-day 19
								div.date-month 03
							div
								div.block-carousel_item__title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
								div.block-carousel_item__body.box
									div
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.




					.block-carousel__item
						div.block-carousel_item-image-block
							img.block-carousel_item-image(src='img/index/event-1.png')
						div.block-carousel_item-content-block
							div.block-carousel_item__date
								div.date-day 19
								div.date-month 03
							div
								div.block-carousel_item__title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
								div.block-carousel_item__body.box
									div
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.




					.block-carousel__item
						div.block-carousel_item-image-block
							img.block-carousel_item-image(src='img/index/event-1.png')
						div.block-carousel_item-content-block
							div.block-carousel_item__date
								div.date-day 19
								div.date-month 03
							div
								div.block-carousel_item__title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
								div.block-carousel_item__body.box
									div
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


				div.dots-line
				a.btn.btn--event(href='#') more events