include index-slider_course
mixin index-course()
  section.index-course
    div.index-course__content.container
      div.index-course__content_wrap
        p.index-course__content_wrap__text курсы 
        +slider-course
        div.more_courses
          div.more_courses__line
          a(href="#").more_courses__link смотреть больше курсов
            div.more_courses__link_line
          div.more_courses__line_small
    div.index-course__item
      h2.index-course__item__title курсы
    div.index-course__item2
      div.index-item2_bg
      div.index-item2_gradient



  
