mixin index-intro_slider()
  div.intro_slider
    ul.video_slider
      li
        div.overlay
        a(href="#")
          img(src="img/video-page/slider-img/1.jpg", alt="")
      li
        div.overlay
        a(href="#") 
          img(src="img/video-page/slider-img/2.jpg", alt="")
      li
        div.overlay
        a(href="#") 
          img(src="img/video-page/slider-img/3.jpg", alt="")
      li
        div.overlay
        a(href="#") 
          img(src="img/video-page/slider-img/4.jpg", alt="")
      li
        div.overlay
        a(href="#") 
          img(src="img/video-page/slider-img/5.jpg", alt="")  
      li
        div.overlay
        a(href="#") 
          img(src="img/video-page/slider-img/6.png", alt="")  
      li
        div.overlay
        a(href="#") 
          img(src="img/video-page/slider-img/7.jpg", alt="")  
      li
        div.overlay
        a(href="#") 
          img(src="img/video-page/slider-img/8.jpg", alt="")  
      li
        div.overlay
        a(href="#") 
          img(src="img/video-page/slider-img/9.png", alt="")  
      li
        div.overlay
        a(href="#") 
          img(src="img/video-page/slider-img/10.png", alt="")  
      li
        div.overlay
        a(href="#") 
          img(src="img/video-page/slider-img/11.png", alt="") 
  ul.intro_slider__nav
    li
      a.next 
    li
      a.prev
  
