mixin index-partners()
	section.index-partners
		h1.index-partners__title partners
		.container.container--index-partners.clearfix
			.index-block-title
				p.index-block-title__text PARTNERS

			.index-block-main.index-block-main--partners
				div.index-partner-block
					img(src='img/index/logo-partners-1.png')
					img(src='img/index/logo-partners-1.png')
					img(src='img/index/logo-partners-1.png')
					img(src='img/index/logo-partners-1.png')

		.container.container--index-partners.clearfix
			.index-block-title.index-block-title--partners
				a(href='#')
					i.fa.fa-youtube.fa--title-parents(aria-hidden='true')
				a(href='#')
					i.fa.fa-facebook.fa--title-parents(aria-hidden='true')

			.index-block-main.index-block-main--contacts
				div.index-footer-block
					div.footer-block__inner-column
						i.fa.fa-globe.fa--footer(aria-hidden='true')
						div.footer-column__body
							a(href='#') www.crypta.tv

					div.footer-block__inner-column
						i.fa.fa-phone.fa--footer(aria-hidden='true')
						div.footer-column__body
							a(href='#') +38(044)360-16-96

					div.footer-block__inner-column
						i.fa.fa-envelope-o.fa--footer(aria-hidden='true')
						div.footer-column__body
							a(href='#') cryptatv@gmail.com