mixin intro
    section.intro
        div.promotion-first-bg
        div.container
            div.typewriter
                h1.intro-header VIDEO PROMOTION
                    span.intro-header--sub OF YOUR PROJECT

                p.intro-text HOW TO: Land More Clients with Our Proposals

            a(href='https://docs.google.com/document/d/1vcThZcvbkz8PUNOYj0tWhpyMdpve4q1m_6SZu0kzhEk/edit' target =_blank).rhombus.rhombus--tv.hidden
                div.rhombus-description
                    span.rhombus-description__inner.rhombus-description__inner--text CRYPTA.TV
                    i.fa.fa-youtube-play.fa--rhombus(aria-hidden='true')
                    div.rhombus-description__inner.rhombus-description__inner--text-small
                        | a unique opportunity to
                        br
                        | make video review of your project
            a(href='#').rhombus.rhombus--education.hidden
                div.rhombus-description
                    span.rhombus-description__inner.rhombus-description__inner--text CRYPTA.EDUCATION
                    i.fa.fa-graduation-cap.fa--rhombus(aria-hidden='true')
                    div.rhombus-description__inner.rhombus-description__inner--text-small
                        | a unique opportunity to
                        br
                        | make video review of your project






