mixin marketing
	section#marketing-section.marketing
		div.marketing-rhombus.marketing-rhombus--first


		div.marketing-rhombus.marketing-rhombus--second.animatable.bounceInLeft
		div.marketing-rhombus.marketing-rhombus--third.animatable.bounceInRight
		div.form-bg-first
		img.marketing-image-ruby(src='img/marketing/ruby.png')
		img.marketing-image-ruby-shadow(src='img/marketing/ruby-shadow.png')
		//div.marketing-rhombus.marketing-rhombus--fourth
		//div.marketing-rhombus.marketing-rhombus--fivth
		div.container.container--marketing
			h1.marketing-header  ICO MARKETING AND ADVERTISING SERVICES
			div.marketing-container-block.marketing-container-block--black
				div.marketing-rhombus-item.marketing-rhombus-item--white-first.marketing-rhombus-item--white

					span.marketing-rhombus-item__text PRE-SALE AND PRE-ICO
					img.marketing-rhombus-item__icon(src='img/marketing/icons/hand.png')


				div.marketing-rhombus-item.marketing-rhombus-item--white-second.marketing-rhombus-item--white

					span.marketing-rhombus-item__text
						| TECHNICAL LAUNCH OF
						br
						| THE ICO
					img.marketing-rhombus-item__icon(src='img/marketing/icons/monitor.png')


				div.marketing-rhombus-item.marketing-rhombus-item--white-third.marketing-rhombus-item--white

					span.marketing-rhombus-item__text
						| PROJECT ON
						br
						| THE SITES
					img.marketing-rhombus-item__icon(src='img/marketing/icons/website.png')

				div.marketing-rhombus-item.marketing-rhombus-item--white-fourth.marketing-rhombus-item--white

					span.marketing-rhombus-item__text PR CAMPAIGN
					img.marketing-rhombus-item__icon(src='img/marketing/icons/tv.png')

			div.marketing-container-block.marketing-container-block--white
				div.marketing-rhombus-item.marketing-rhombus-item--white-first

					span.marketing-rhombus-item__text
						| TECHNICAL LAUNCH OF
						br
						| THE ICO
					img.marketing-rhombus-item__icon(src='img/marketing/icons/chart.png')


				div.marketing-rhombus-item.marketing-rhombus-item--white-second

					span.marketing-rhombus-item__text PRE-SALE AND PRE-ICO
					img.marketing-rhombus-item__icon(src='img/marketing/icons/house.png')


				div.marketing-rhombus-item.marketing-rhombus-item--white-third

					span.marketing-rhombus-item__text
						| TECHNICAL LAUNCH OF
						br
						| THE ICO
					img.marketing-rhombus-item__icon(src='img/marketing/icons/tablet.png')


				div.marketing-rhombus-item.marketing-rhombus-item--white-fourth

					span.marketing-rhombus-item__text
						| PROJECT ON
						br
						| THE SITES
					img.marketing-rhombus-item__icon(src='img/marketing/icons/calendar.png')

				div.marketing-rhombus-item.marketing-rhombus-item--white-fivth

					span.marketing-rhombus-item__text PR CAMPAIGN
					img.marketing-rhombus-item__icon(src='img/marketing/icons/camera.png')








