mixin nav(data)
  menu.nav
    i.fa.fa-times.fa-times--menu.menu-toggle(aria-hidden='true')
      
    nav.nav-wrap
      ul
        li
          a.link-menu(href="/video.html") BROADCAST
        li
          a.link-menu(href="/index.html#promotion-section")  PROMOTION CHANNELS
        li
          a.link-menu(href="/index.html#marketing-section")  ICO MARKETING

        li
          a.link-menu(href="#")  PRICE
        li
          a.link-menu(href="/index.html#footer") CONTACTS

