mixin promotion
	section#promotion-section.promotion

		div.container.container--promotion
			h1.promotion-head PROMOTION CHANNELS
			h2.promotion-sub-head
				span HOW TO:
				|Promotion of your video content

			div.promotion-content
				div.promotion-content__column
					div.column-item
						i.fa.fa-users.fa--promotion(aria-hidden='true')
						div.column-item__block
							h3 e-mail marketing
							div Startup.Network Group
							div +100 000 people
							div 24 countries

					div.column-item
						i.fa.fa-youtube-play.fa--promotion(aria-hidden='true')
						div.column-item__block
							h3 youtube channel
							div CRYPTA.TV
							div
							div

					div.column-item
						i.fa.fa-facebook-official.fa--promotion(aria-hidden='true')
						div.column-item__block
							h3 facebook
							div CRYPTA.TV &
							div STARTUP.NETWORK
							div +12,690 PEOPLE


				div.promotion-content__column
					div.column-item
						i.fa.fa-desktop.fa--promotion(aria-hidden='true')
						div.column-item__block
							h3 articles on the site startup.network
							div startup.network +20000 views
							div
							div

					div.column-item
						i.fa.fa-bullhorn.fa--promotion(aria-hidden='true')
						div.column-item__block
							h3 ico rating
							div Startup.Network Group
							div +100 000 people
							div 24 countries

					div.column-item
						i.fa.fa-handshake-o.fa--promotion(aria-hidden='true')
						div.column-item__block
							h3 startup batlles adv
							div +90 startup battles
							div more then 10 countries in the world
							div
