mixin slide-video2()
  div.owl-carousel-slide1
    div.owl-carousel-slide1-item
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1__overlay.video10
        img(src="img/video-page/youtube.png", alt="" class="youtube_img")
        img(src="img/video-page/slider-img/10.png", alt="")
        div.owl-carousel-slide1-item--video1--about
          h3 Interview with Itay Malinski<br> on Ukrainian Blockchain Day 
          div.date-looks
            span.date 16.11.2017
            //- div.looks
            //-   img(src="img/video-page/eye.png", alt="").looks-img
            //-   span.watch 28
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1__overlay.video11
        img(src="img/video-page/youtube.png", alt="" class="youtube_img")
        img(src="img/video-page/slider-img/11.png", alt="")
        div.owl-carousel-slide1-item--video1--about
          h3 Interview with Jan Keil<br> on Ukrainian Blockchain Day 
          div.date-looks
            span.date 16.11.2017
            //- div.looks
            //-   img(src="img/video-page/eye.png", alt="").looks-img
            //-   span.watch 53
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1__overlay
        img(src="img/video-page/youtube.png", alt="" class="youtube_img")
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            //- div.looks
            //-   img(src="img/video-page/eye.png", alt="").looks-img
            //-   span.watch 412123123
    div.owl-carousel-slide1-item
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1__overlay
        img(src="img/video-page/youtube.png", alt="" class="youtube_img")
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            //- div.looks
            //-   img(src="img/video-page/eye.png", alt="").looks-img
            //-   span.watch 412123123
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1__overlay
        img(src="img/video-page/youtube.png", alt="" class="youtube_img")
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            div.looks
              img(src="img/video-page/eye.png", alt="").looks-img
              span.watch 412123123
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1__overlay
        img(src="img/video-page/youtube.png", alt="" class="youtube_img")
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            div.looks
              img(src="img/video-page/eye.png", alt="").looks-img
              span.watch 412123123
    div.owl-carousel-slide1-item
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1__overlay
        img(src="img/video-page/youtube.png", alt="" class="youtube_img")
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            div.looks
              img(src="img/video-page/eye.png", alt="").looks-img
              span.watch 412123123
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1__overlay
        img(src="img/video-page/youtube.png", alt="" class="youtube_img")
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            div.looks
              img(src="img/video-page/eye.png", alt="").looks-img
              span.watch 412123123
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1__overlay
        img(src="img/video-page/youtube.png", alt="" class="youtube_img")
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            div.looks
              img(src="img/video-page/eye.png", alt="").looks-img
              span.watch 412123123
