mixin slide-video3()
  div.owl-carousel-slide1 
    div.owl-carousel-slide1-item
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            div.looks
              img(src="img/video-page/eye.png", alt="").looks-img
              span.watch 412123123
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            div.looks
              img(src="img/video-page/eye.png", alt="").looks-img
              span.watch 412123123
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            div.looks
              img(src="img/video-page/eye.png", alt="").looks-img
              span.watch 412123123
    div.owl-carousel-slide1-item
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            div.looks
              img(src="img/video-page/eye.png", alt="").looks-img
              span.watch 412123123
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            div.looks
              img(src="img/video-page/eye.png", alt="").looks-img
              span.watch 412123123
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            div.looks
              img(src="img/video-page/eye.png", alt="").looks-img
              span.watch 412123123
    div.owl-carousel-slide1-item
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            div.looks
              img(src="img/video-page/eye.png", alt="").looks-img
              span.watch 412123123
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            div.looks
              img(src="img/video-page/eye.png", alt="").looks-img
              span.watch 412123123
      div.owl-carousel-slide1-item--video1
        div.owl-carousel-slide1-item--video1--about
          h3 ICO Marketing and Advertising<br> Services №1 
          div.date-looks
            span.date 21.11.3029
            div.looks
              img(src="img/video-page/eye.png", alt="").looks-img
              span.watch 412123123
