mixin successful-popup()
	section.section-successful-popup
		div.successful-popup-body
			span.successful-popup-body__text Form successfully sent
			i.fa.fa-times.close-successful-popup(ria-hidden="true")