mixin intro
  section.intro_video
    div.intro_video__video
      div.intro_video__video_button
        iframe(width="100%" height="100%" src="https://www.youtube.com/embed/8B4GcjD_jig?rel=0&amp;controls=1&amp;showinfo=0;autoplay=1&amp;loop=0&amp;" frameborder="0" allowfullscreen).intro_iFrame
    div.intro_video__video_info.container
      p.intro_video__video_info__info
        | Interview with Jan Keil on Ukrainian Blockchain Day  
      p.intro_video__video_info__date
        |16.11.2017
      //- p.intro_video__video_info__looks
      //-   img(src="img/video-page/eye.png", alt="")
      //-   span.watch
      //-     | 53

      









          
