include slide-video
include slide-video2
//include slide-video3
mixin watch()
  section.watch-video
    //- div.rombus-bg
    div.container-watch
      h2 watch all video 
      div.owl-carousel.carousel-block
        +slide-video()
        +slide-video2()
    div.rombus-watch.rombus-watch--first
    div.rombus-watch.rombus-watch--second
    div.rombus-watch.rombus-watch--third
    div.form-bg-first.form-bg-first--main
                  

  
